IMPORTING DEPENDENCIES

In [10]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [11]:
#  LOADING DATASET TO PANDAS DATA FRAME
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [12]:
# FIRST 5 ROWS OF DATA SET
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [13]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       1
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [14]:
credit_card_data = credit_card_data.dropna(axis=0)

In [15]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [16]:
credit_card_data.shape

(65452, 31)

In [18]:
# Distribution of legit transaction and fraudental transcation
credit_card_data['Class'].value_counts()

0.0    65283
1.0      169
Name: Class, dtype: int64

In [21]:
#  Sepearting data for analysis
legit = credit_card_data[credit_card_data['Class'] ==0]
fraud =  credit_card_data[credit_card_data['Class'] ==1]

In [22]:
print(f'legit transaction count {legit.shape}')
print(f'Fraud transaction counts {fraud.shape}')

legit transaction count (65283, 31)
Fraud transaction counts (169, 31)

In [23]:
# Statistical measure
legit['Amount'].describe()

count    65283.000000
mean        96.279722
std        270.360076
min          0.000000
25%          7.680000
50%         26.250000
75%         88.000000
max      19656.530000
Name: Amount, dtype: float64

In [24]:
fraud['Amount'].describe()

count     169.000000
mean       94.895680
std       220.959331
min         0.000000
25%         1.000000
50%         7.610000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [25]:
# compare the values of both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,33439.759478,-0.222825,-0.026270,0.710616,0.157998,-0.253909,0.109118,-0.094275,0.050530,0.045833,...,0.047148,-0.030787,-0.106567,-0.038539,0.005807,0.136450,0.019730,0.000695,0.004147,96.279722
1.0,29493.242604,-7.106029,5.115846,-9.566072,5.470948,-5.263861,-2.172211,-7.412550,3.501007,-3.298551,...,0.431494,0.850670,-0.212903,-0.255225,-0.075295,0.245601,0.107931,0.576249,0.041284,94.895680

Under Sampling

Build a Sample Data Set containing similar distribution of normal transactions and Fraudental transactions

In [27]:
legit_samples = legit.sample(n=169)

In [28]:
new_df = pd.concat([legit_samples,fraud], axis=0)

In [29]:
new_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
3893,3464,-0.493907,0.450135,1.732650,-0.046726,0.007283,0.584876,0.363987,0.284447,0.108552,...,0.221412,0.506079,-0.021153,-0.806112,-0.103930,-0.478681,0.078910,0.055965,79.60,0.0
16929,28301,-0.787431,0.659888,1.678533,0.070321,0.261680,-0.838202,0.743218,0.076717,-0.690143,...,0.141435,0.148478,-0.252998,0.497016,0.686463,-0.431372,-0.063945,-0.031491,28.13,0.0
65387,51560,-1.972853,0.550645,1.940229,0.937619,-0.399188,0.201421,-0.587311,0.683261,-0.040450,...,0.207689,0.667622,-0.253584,0.022678,0.444575,-0.134202,-0.169239,0.181253,9.87,0.0
38269,39320,-1.358242,1.563089,1.154330,-0.080241,-0.517087,-0.367619,0.384178,-0.593074,-0.134878,...,0.544312,-0.684234,0.167120,0.369653,-0.255491,0.053762,0.039839,-0.123128,49.99,0.0
36240,38449,1.006868,-0.512351,0.484544,0.258372,-0.753271,-0.140395,-0.280447,0.188905,0.509160,...,-0.154110,-0.521996,0.052862,0.264307,0.073100,0.880493,-0.080452,0.003091,84.34,0.0

In [30]:
new_df.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
63421,50706,-8.461845,6.866198,-11.838269,4.194211,-6.923097,-3.221147,-7.553497,6.015618,-2.466143,...,0.918244,-0.715366,0.210747,-0.060211,0.509535,-0.257284,1.170027,0.229301,99.99,1.0
63634,50808,-9.169790,7.092197,-12.354037,4.243069,-7.176438,-3.386618,-8.058012,6.442909,-2.412987,...,0.926157,-0.817706,-0.150434,-0.039383,0.485640,-0.264325,1.159690,0.232758,99.99,1.0
64329,51112,-9.848776,7.365546,-12.898538,4.273323,-7.611991,-3.427045,-8.350808,6.863604,-2.387567,...,0.931958,-0.874467,-0.192639,-0.035426,0.538665,-0.263934,1.134095,0.225973,99.99,1.0
64411,51135,-10.527304,7.639745,-13.443115,4.303403,-8.048210,-3.466997,-8.643193,7.284105,-2.362097,...,0.937416,-0.931178,-0.235697,-0.031393,0.591558,-0.263516,1.108897,0.219021,99.99,1.0
64460,51155,-11.205461,7.914633,-13.987752,4.333341,-8.484970,-3.506561,-8.935243,7.704449,-2.336584,...,0.942593,-0.987848,-0.279446,-0.027299,0.644344,-0.263078,1.084023,0.211933,99.99,1.0

In [32]:
new_df['Class'].value_counts()

0.0    169
1.0    169
Name: Class, dtype: int64

In [33]:
new_df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,33257.136095,-0.361324,0.037617,0.764110,0.119556,-0.269046,0.166630,-0.045461,-0.134136,0.126457,...,0.034741,0.049501,-0.094227,0.011996,-0.056936,0.159671,0.071324,0.011500,-0.006135,100.194201
1.0,29493.242604,-7.106029,5.115846,-9.566072,5.470948,-5.263861,-2.172211,-7.412550,3.501007,-3.298551,...,0.431494,0.850670,-0.212903,-0.255225,-0.075295,0.245601,0.107931,0.576249,0.041284,94.895680

In [34]:
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,33439.759478,-0.222825,-0.026270,0.710616,0.157998,-0.253909,0.109118,-0.094275,0.050530,0.045833,...,0.047148,-0.030787,-0.106567,-0.038539,0.005807,0.136450,0.019730,0.000695,0.004147,96.279722
1.0,29493.242604,-7.106029,5.115846,-9.566072,5.470948,-5.263861,-2.172211,-7.412550,3.501007,-3.298551,...,0.431494,0.850670,-0.212903,-0.255225,-0.075295,0.245601,0.107931,0.576249,0.041284,94.895680

Splitting the data into Features and Target

In [35]:
X= new_df.drop(columns='Class', axis=1)
y= new_df['Class']

In [36]:
print(X)

        Time         V1        V2         V3        V4        V5        V6  \
3893    3464  -0.493907  0.450135   1.732650 -0.046726  0.007283  0.584876
16929  28301  -0.787431  0.659888   1.678533  0.070321  0.261680 -0.838202
65387  51560  -1.972853  0.550645   1.940229  0.937619 -0.399188  0.201421
38269  39320  -1.358242  1.563089   1.154330 -0.080241 -0.517087 -0.367619
36240  38449   1.006868 -0.512351   0.484544  0.258372 -0.753271 -0.140395
...      ...        ...       ...        ...       ...       ...       ...
63421  50706  -8.461845  6.866198 -11.838269  4.194211 -6.923097 -3.221147
63634  50808  -9.169790  7.092197 -12.354037  4.243069 -7.176438 -3.386618
64329  51112  -9.848776  7.365546 -12.898538  4.273323 -7.611991 -3.427045
64411  51135 -10.527304  7.639745 -13.443115  4.303403 -8.048210 -3.466997
64460  51155 -11.205461  7.914633 -13.987752  4.333341 -8.484970 -3.506561

             V7        V8        V9  ...       V20       V21       V22  \
3893   0.363987  0.284447  0.108552  ... -0.031683  0.221412  0.506079
16929  0.743218  0.076717 -0.690143  ... -0.111335  0.141435  0.148478
65387 -0.587311  0.683261 -0.040450  ... -0.049502  0.207689  0.667622
38269  0.384178 -0.593074 -0.134878  ... -0.072445  0.544312 -0.684234
36240 -0.280447  0.188905  0.509160  ... -0.048828 -0.154110 -0.521996
...         ...       ...       ...  ...       ...       ...       ...
63421 -7.553497  6.015618 -2.466143  ...  0.814710  0.918244 -0.715366
63634 -8.058012  6.442909 -2.412987  ...  0.816652  0.926157 -0.817706
64329 -8.350808  6.863604 -2.387567  ...  0.832398  0.931958 -0.874467
64411 -8.643193  7.284105 -2.362097  ...  0.847085  0.937416 -0.931178
64460 -8.935243  7.704449 -2.336584  ...  0.860912  0.942593 -0.987848

            V23       V24       V25       V26       V27       V28  Amount
3893  -0.021153 -0.806112 -0.103930 -0.478681  0.078910  0.055965   79.60
16929 -0.252998  0.497016  0.686463 -0.431372 -0.063945 -0.031491   28.13
65387 -0.253584  0.022678  0.444575 -0.134202 -0.169239  0.181253    9.87
38269  0.167120  0.369653 -0.255491  0.053762  0.039839 -0.123128   49.99
36240  0.052862  0.264307  0.073100  0.880493 -0.080452  0.003091   84.34
...         ...       ...       ...       ...       ...       ...     ...
63421  0.210747 -0.060211  0.509535 -0.257284  1.170027  0.229301   99.99
63634 -0.150434 -0.039383  0.485640 -0.264325  1.159690  0.232758   99.99
64329 -0.192639 -0.035426  0.538665 -0.263934  1.134095  0.225973   99.99
64411 -0.235697 -0.031393  0.591558 -0.263516  1.108897  0.219021   99.99
64460 -0.279446 -0.027299  0.644344 -0.263078  1.084023  0.211933   99.99

[338 rows x 30 columns]

In [37]:
print(y)

3893     0.0
16929    0.0
65387    0.0
38269    0.0
36240    0.0
        ...
63421    1.0
63634    1.0
64329    1.0
64411    1.0
64460    1.0
Name: Class, Length: 338, dtype: float64

Split the data into Training and testing data

In [38]:
X_train , X_test , y_train , y_test = train_test_split(X, y ,test_size=0.2, stratify=y,random_state=2)

In [39]:
print(X_train.shape , X_test.shape,y_train.shape,y_test.shape)

(270, 30) (68, 30) (270,) (68,)

Model Training

Logistic Regression

In [40]:
model = LogisticRegression()

In [41]:
#  Training the logistic regression moedl with training data

model.fit(X_train,y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

Model Evaluation 

  Accuracy Score

In [43]:
# Accuracy on training data
X_train_prediction= model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction,y_train)
print('Accuracy on training data: ', training_data_accuracy)

Accuracy on training data:  0.9518518518518518

In [44]:
# Accuracy on testing data
X_test_prediction = model.predict(X_test)
testing_data_accuracy = accuracy_score(X_test_prediction , y_test)
print('Accuracy score on testing data : ', testing_data_accuracy)

Accuracy score on testing data :  0.9411764705882353